.boxes {
    display: flex;
    width: 920px;
    height: 608px;
}

.shape {
    position: absolute;
}

.lowerDivs {
    margin-top: 8px;
    border: 2px solid #5f6777;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}
#canvas {
    position: relative;
    background-color: #f5f1ed;
    margin-left: 10px;
}

.container {
    position: absolute;
    width: 910px;
}

h1, h4 {
    color: #2d2b2b;
}

#creatorDiv {
    margin-left: 10px;
    width: 910px;
    height: 230px;
    border: 2px solid #5f6777;
    background-color: #aac9e0;
    color: #2d2b2b;
}

.shapes {
    width: 188px;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 0px;
    border: 2px solid #5f6777;
}

#sidepanel {
    margin-left: 10px;
    background-color: #aac9e0;
}

#header {
    text-align: center;
}

body {
    background-color: #af9f8b;
}

#square {
    width: 100px;
    height: 100px;
    background: red;
}

#rectangle {
    width: 200px;
    height: 100px;
    background: green;
}

#circle {
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 50%;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid yellow;
    border-right: 100px solid transparent;
}

.shapeInput {
    width: 100px;
}
